@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 33 100% 92%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 33 100% 92%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 0 52% 24%;
    --primary-foreground: 0 0% 100%;
    --secondary: 33 100% 88%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 33 100% 88%;
    --muted-foreground: 215 20% 65%;
    --accent: 0 52% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 33 100% 85%;
    --input: 33 100% 85%;
    --ring: 0 52% 24%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 33 100% 92%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 0 52% 24%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 33 100% 88%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 33 100% 85%;
    --sidebar-ring: 0 52% 24%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 0 62% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 11.2%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 11.2%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 0 62% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 11.2%;
    --input: 215 27.9% 11.2%;
    --ring: 0 62% 34%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 0 62% 34%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 27.9% 11.2%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 11.2%;
    --sidebar-ring: 0 62% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}
